@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap");
*{
    margin              : 0;
    padding             : 0;
    box-sizing          : border-box;
    font-family         : "Poppins", sans-serif;
}

.about-us {
    display             : flex;
    align-items         : center;
    height              : 100vh;
    width               : 100%;
    padding             : 90px 0;
}

.pic {
    height              : auto;
    width               : 300px;
    border-radius       : 12px;
    opacity             : 0.0;
}

.about {
    width               : 100%;
    max-width           : 70%;
    margin              : 0 auto;
    display             : flex;
    align-items         : center;
    justify-content     : space-around;
}

.text {
    width               : 1500px;
}

.text h2 {
    color               : #333;
    font-size           : 40px;
    font-weight         : 600;
    font-family         : "Georgia", serif;
    margin-bottom       : 10px;
}

.text h3 {
    color               : #333;
    font-size           : 30px;
    font-weight         : 800;
    font-family         : "Georgia", serif;
    margin-bottom       : 10px;
    background-color    : coral;
}

.text h4 {
    color               : #333;
    font-size           : 24px;
    font-weight         : 600;
    font-family         : "Georgia", serif;
    margin-bottom       : 10px;
    background-color    : #40E0D0;
}

.text h5 {
    color               : #333;
    font-size           : 22px;
    font-weight         : 500;
    margin-bottom       : 20px;
}

span {
    font-family         : "Georgia", serif;
    color               : #000080;
}

.text p {
    color               : #093145;
    font-size           : 18px;
    font-weight         : 600;
    letter-spacing      : 1px;
}

button {
    color               : #fff;
    font-size           : 20px;
    font-weight         : 500;
    padding-left        : 0px;
    background-color    : #CD594A;
    border              : 1px solid #CD594A;
    cursor              : pointer;
    margin-top          : 20px;
    padding             : 10px 30px;
    border-radius       : 4px;
}

button:hover{
    background-color    : Tomato;
}

.wrapper form .row{
    height              : 45px;
    margin-bottom       : 15px;
    position            : relative;
}

.wrapper form .row input{
    height              : 100%;
    width               : 100%;
    outline             : none;
    padding-left        : 60px;
    border-radius       : 5px;
    border              : 1px solid lightgrey;
    font-size           : 16px;
    transition          : all 0.3s ease;
}

form .row input:focus{
    border-color        : #16a085;
    box-shadow          : inset 0px 0px 2px 2px rgba(26,188,156,0.25);
}

form .row input::placeholder{
    color               : #999;
}

.wrapper form .row i{
    position            : absolute;
    width               : 47px;
    height              : 100%;
    color               : #fff;
    font-size           : 18px;
    background          : #16a085;
    border              : 1px solid #16a085;
    border-radius       : 5px 0 0 5px;
    display             : flex;
    align-items         : center;
    justify-content     : center;
}

hr.solid {
    border-top          : 3px solid #bbb;
}

body {
    background-image    : url('/static/images/bg3.png');
    background-attachment:fixed;
    background-size     : auto 100%;
    background-position : center;
}